<!-- Giscus comment system -->
{% if site.comments.active == "giscus" and page.comments != false %}

<section id="giscus-comment">
  <script src="https://giscus.app/client.js"
          data-repo="kiefeng/kiefeng.github.io"
          data-repo-id="R_kgDOTLRHHQ"
          data-category="Announcements"
          data-category-id="DIC_kwDOTLRHHc4DAZXQ"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="{{ site.url }}/assets/css/giscus-custom.css"
          data-lang="zh-CN"
          crossorigin="anonymous"
          async>
  </script>
  <noscript>请启用 JavaScript 来查看评论。</noscript>
</section>

{% endif %}
